
header {
  /* --margin-left: 29px; */
  /* margin-left: var(--margin-left); */
  transform: translateY( calc(50% - var(--content-padding) * 2) );
  color: var(--text-color-bright);
  font-size: 2rem;
  font-family: 'Special Elite', cursive;
  font-weight:900;
  padding-left: 30px;
}

@media (max-width: 960px) {
  header {
    padding-left: 0;
  }
}

h1.header {
  /* background: url("https://i.imgur.com/jGIGWOA.jpg"); */
  /* -webkit-background-clip: text; */
  /* background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  text-align:left;
  letter-spacing:2px;
  /* margin-top:100px; */
  line-height: 1.2em;
  margin: 0;
  /* margin-left: 29px; */
}

#art-container {
  position: absolute;
  top: 30px;
  right: 0;
}



#art {
  --content-width: 100%; /* must be in pixels, will be updated with JS */
  --content-to-art-width-ratio: 0.95;
  --art-width: calc( var(--content-width) * var(--content-to-art-width-ratio));

  --mountain-width-to-height-ratio: calc(1058 / 433);
  --rv-width-to-height-ratio: calc(500 / 309);
  --mountain-height: calc(var(--art-width) / var(--mountain-width-to-height-ratio));
  
  --rv-width: calc( var(--art-width) * 0.7);
  --rv-height: calc( var(--rv-width) / var(--rv-width-to-height-ratio));
  --rv-top: 28%;
  --rv-right: 9%;
  --rv-width-to-squirrel-height-ratio: 7;
  --squirrel-width: calc( var(--rv-width) / 5.25);
  --squirrel-height: calc( var(--rv-width) / var(--rv-width-to-squirrel-height-ratio));

  --actual-art-height: calc( var(--mountain-height) * var(--rv-top) + var(--rv-height) );

  z-index: -1;
  position: absolute;
  top: 60px;
  right: 0px;
  width: var(--art-width);
  height: var(--mountain-height); /* mountain height */
}



/* .relative-container {
  position: relative;
  width: 100%;
  height: 100%;
} */

#rv, #mountain {
  position: absolute;
}

#rv {
  width: var(--rv-width);
  top: var(--rv-top);
  right: var(--rv-right); /* 44% */
}

#mountain {
  width: 100%;
  right: 0px;
}

/* #mountain::after {
  content: '';
  width: 100%;
  height: 100%;
} */



.squirrel {
  position: absolute;
  /* top: 48%;
  right: 55%; */
  /* top: 31%;
  right: 49%; */
  top: 28%;
  right: 48%;
  /* top: calc( var(--rv-top) + 3%); */
  /* right: calc( var(--rv-width) / 7 * 4 + var(--rv-right) ); */

  /* --squirrel-box-height: 60px; */

  /* determines how long is squirrel's jump */
  width: var(--squirrel-width);
  height: var(--squirrel-height);
  /* bug occurs here if --squirrel-height is in percentage */
  background-size: calc( var(--squirrel-height) * 1.2 );
  background-repeat: no-repeat;
  background-image: url('../imgs/squirrel.svg');
  /* border: 1px solid black; */
  transform: scaleX(-1); /* "mirror" effect on squirrel */
}

@keyframes animatedSquirrel {
  0% {
    background-position: left top;
  }

  15% {
    top: 29%;
  }

  30% {
    top: 32%;
  }

  75% {
    top: 46%;
    right: 55%;
    background-position-x: 100%;
  }

  100% {
    background-position: 100% bottom;
    top: 46%;
    right: 55%;
  }
}

/* @-webkit-keyframes animatedSquirrel {
  from {
    background-position: left top;
  }

  to {
    background-position: right bottom;
  }
} */

.animate-squirrel {
  animation-name: animatedSquirrel;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-timing-function: steps(9);
  animation-fill-mode: forwards;
  /* animation-iteration-count: infinite; */
  /* animation-direction: normal; */
  /* animation: animatedSquirrel 1s 5s steps(9) forwards;
  -ms-animation: animatedSquirrel 1s 1s steps(9) forwards;
  -webkit-animation: animatedSquirrel 1s 1s steps(9) forwards;
  -moz-animation: animatedSquirrel 1s 1s steps(9) forwards; */

  /* -o-animation-fill-mode: forwards; */

}



/* HI! */
.ml8 {
  font-weight: 900;
  /* font-size: 4.5em; */
  /* color: white; */
  width: 3em;
  height: 3em;
  position: relative;
  margin: 0;
  /* aligning HI to the rest of the header */
  /* margin-left: -20px;  */
  transform: translate( -25px, 15px);

}

.ml8 .letters-container {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 1em;
  text-align: center; /* centering text */
}

.ml8 .letters {
  position: relative;
  z-index: 2;
  display: inline-block;
  line-height: 0.7em;
  right: -0.12em;
  top: -0.2em;
}

.ml8 .bang {
  /* font-size: 1.4em; */
  top: auto;
  left: -0.06em;
}

.ml8 .circle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
}

.ml8 .circle-white {
  width: 3em;
  height: 3em;
  border: 2px dashed var(--text-color-main, white);
  border-radius: 2em;
}

.ml8 .circle-dark {
  width: 2.2em;
  height: 2.2em;
  background-color: #4f7b86;
  border-radius: 3em;
  z-index: 1;
}

.ml8 .circle-dark-dashed {
  border-radius: 2.4em;
  background-color: transparent;
  border: 2px dashed #a5c4bc;
  /* border: 2px dashed #4f7b86; */
  width: 2.3em;
  height: 2.3em;
}





@media (max-width: 480px) {
  /* #art {
    top: 60px;
  } */
  header {
    font-size: 1.5rem;
    /* transform: translateY(50%); */
  }
}

/* @media (max-width: 800px) {
  header {
    transform: translateY(50%);
  }
} */

@media (min-width: 850px) {
  #art-container {
    top: 0;
  }

  #art {
    --content-to-art-width-ratio: 0.9;
    top: 80px;
  }
}

/* @media (min-width: 961px) {
  #art {
    --content-to-art-width-ratio: 0.75;
    top: 100px;
    right: -80px;
  }
} */

@media (min-width: 961px) {
  #art {
    /* top: auto;
    bottom: 300px; */
    /* bottom: 0; */
    /* top: 120px; */
    --starting-top: 160px;
    --content-diff: calc( var(--content-width) - 960px);
    --ratio: calc( (1320 - 960) / 120 );
    top: calc( var(--starting-top)  - var(--content-diff) / var(--ratio) );

    /* cut off right side */
    right: calc( var(--art-width) * -0.1);
    --content-to-art-width-ratio: 0.80;
  }
}

@media (min-width: 1320px) {
  #art {
    top: 0px;
  }
}