@keyframes speed {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -3px) rotate(-1deg);
  }
  20% {
    transform: translate(-2px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 3px) rotate(-1deg);
  }
  60% {
    transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-2px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes strikes {
  from {
    opacity: 1;
    left: var(--left);
  }
  to {
    left: calc( var(--left) - 100px);
    opacity: 0;
  }
}
@keyframes dots {
  from {
    width: 0px;
  }
  to {
    width: 15px;
  }
}
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  } 
  to {
    transform: rotate(360deg);
  }
}
.loading-window {
  --bus-color: var(--color-highlight);

  color: var( --bus-color );
  height: 200px;
  left: 50%;
  margin-left: -150px;
  margin-top: -100px;
  position: fixed;
  top: 50%;
  width: 300px;
  z-index: 99;
}
.loading-window .text {
  font-size: 16px;
  position: absolute;
  width: auto;
  top: 75%;
  left: 38%;
  margin: 0 auto;
}
.loading-window .dots {
  display: inline-block;
  width: 5px;
  overflow: hidden;
  vertical-align: bottom;
  animation: dots 1.5s linear infinite;
  transition: 1;
}
.bus {
  position: absolute;
  width: 117px;
  height: 60px;
  left: 85px;
  top: 60px;
}
.bus .strike {
  --left: -10px;
  left: var(--left);
  position: absolute;
  width: 11px;
  height: 1px;
  background: var( --bus-color );
  animation: strikes 0.2s linear infinite;
}
.bus .strike:nth-of-type(6n+1)  {
  top: 3%;
}
.bus .strike:nth-of-type(6n+2)  {
  top: 22%;
  animation-delay: -0.05s;
}
.bus .strike:nth-of-type(6n+3) {
  top: 41%;
  animation-delay: -0.1s;
}
.bus .strike:nth-of-type(6n+4) {
  top: 60%;
  animation-delay: -0.15s;
}
.bus .strike:nth-of-type(6n+5) {
  top: 79%;
  animation-delay: -0.2s;
}
.bus .strike:nth-of-type(6n) {
  top: 98%;
  animation-delay: -0.25s;
}

.bus-detail {
  position: absolute;
  display: block;
  background: var( --bus-color );
}
.bus .speed {
  width: 117px;
  height: 60px;
  animation: speed 0.5s linear infinite;
}
.bus-detail.rear-bumper {
  width: 10px;
  height: 13px;
  left: -2px;
  bottom: 1px;
  border-radius: 3px;
}

.bus-detail.window {
  width: 15%;
  background: transparent;
  border: 4px solid var(--bus-color);
  height: 30%;
  border-radius: 5px;
  top: 5px;
}
.bus-detail.window:nth-of-type(5n) {
  left: 64%;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.bus-detail.window:nth-of-type(5n+1) {
  left: 46%;

}
.bus-detail.window:nth-of-type(5n+2) {
  left: 28%;

}
.bus-detail.window:nth-of-type(5n+3) {
  left: 10%;

}
.bus-detail.window:nth-of-type(5n+4) {
  left: 0%;
  width: 7%;
  border-top-left-radius: 15px 15px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.bus-detail.front-bumper {
  width: 10px;
  height: 11px;
  right: -2px;
  bottom: 1px;
  border-radius: 3px;
}
.bus-detail.front-light {
  width: 10px;
  height: 8px;
  right: -2px;
  bottom: 17px;
  border-radius: 50%;
}

.bus-detail.center {
  height: 100%;
  width: 100%;
  left: 0;
  border-radius: 5px;
  border-top-left-radius: 20px 15px;
  border-top-right-radius: 25px 40px;
  border: 4px solid var( --bus-color );
  background: none;
  box-sizing: border-box;
}
.bus-detail.center2 {
  height: 55%;
  width: 100%;
  left: 0px;
  bottom: 0;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 5px 20px;
}
.bus-detail.top {
  height: 12%;
  width: 84%;
  top: 2px;
  left: 6px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.bus-detail.wheel {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: 45px;
  border: 1px solid black;
  background: linear-gradient(45deg, transparent 45%, var( --bus-color ) 46%, var( --bus-color ) 54%, transparent 55%), linear-gradient(-45deg, transparent 45%, var( --bus-color ) 46%, var( --bus-color ) 54%, transparent 55%), linear-gradient(90deg, transparent 45%, var( --bus-color ) 46%, var( --bus-color ) 54%, transparent 55%), linear-gradient(0deg, transparent 45%, var( --bus-color ) 46%, var( --bus-color ) 54%, transparent 55%), radial-gradient(var( --bus-color ) 29%, transparent 30%, transparent 50%, var( --bus-color ) 51%), var( --body-background-color );
  animation: rotate360 infinite linear .7s;
}
.bus-detail.wheel:nth-of-type(2n+1) {
  left: 7px;
}
.bus-detail.wheel:nth-of-type(2n) {
  left: 87px;
}
.bus-detail.door {
  border: 1px solid black;
  border-radius: 5px;
  height: 84%;
  width: 18%;
  top: 5px;
  left: 55px;
  background: none;
}





/* spinner */
.spinner ~ * {
  visibility: hidden;
}
.spinner {
  --spinner-color: var(--color-highlight);
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation: fadeIn 3s;
}
.spinner .blob {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 2px solid var(--spinner-color);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.spinner .blob.top {
  top: 0;
  -webkit-animation: blob-top 1s infinite ease-in;
          animation: blob-top 1s infinite ease-in;
}
.spinner .blob.bottom {
  top: 100%;
  -webkit-animation: blob-bottom 1s infinite ease-in;
          animation: blob-bottom 1s infinite ease-in;
}
.spinner .blob.left {
  left: 0;
  -webkit-animation: blob-left 1s infinite ease-in;
          animation: blob-left 1s infinite ease-in;
}
.spinner .move-blob {
  background: var(--spinner-color);
  top: 0;
  -webkit-animation: blob-spinner-mover 1s infinite ease-in;
          animation: blob-spinner-mover 1s infinite ease-in;
}

@-webkit-keyframes blob-bottom {
  25%, 50%, 75% {
    top: 50%;
    left: 100%;
  }
  100% {
    top: 0;
    left: 50%;
  }
}

@keyframes blob-bottom {
  25%, 50%, 75% {
    top: 50%;
    left: 100%;
  }
  100% {
    top: 0;
    left: 50%;
  }
}
@-webkit-keyframes blob-left {
  25% {
    top: 50%;
    left: 0;
  }
  50%, 100% {
    top: 100%;
    left: 50%;
  }
}
@keyframes blob-left {
  25% {
    top: 50%;
    left: 0;
  }
  50%, 100% {
    top: 100%;
    left: 50%;
  }
}
@-webkit-keyframes blob-top {
  50% {
    top: 0;
    left: 50%;
  }
  75%, 100% {
    top: 50%;
    left: 0;
  }
}
@keyframes blob-top {
  50% {
    top: 0;
    left: 50%;
  }
  75%, 100% {
    top: 50%;
    left: 0;
  }
}
@-webkit-keyframes blob-spinner-mover {
  0%, 100% {
    top: 0;
    left: 50%;
  }
  25% {
    top: 50%;
    left: 100%;
  }
  50% {
    top: 100%;
    left: 50%;
  }
  75% {
    top: 50%;
    left: 0;
  }
}
@keyframes blob-spinner-mover {
  0%, 100% {
    top: 0;
    left: 50%;
  }
  25% {
    top: 50%;
    left: 100%;
  }
  50% {
    top: 100%;
    left: 50%;
  }
  75% {
    top: 50%;
    left: 0;
  }
}



