@-webkit-keyframes spin {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
            transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -3px) rotate(36deg);
            transform: translate(-1px, -3px) rotate(36deg);
  }
  20% {
    -webkit-transform: translate(-2px, 0px) rotate(72deg);
            transform: translate(-2px, 0px) rotate(72deg);
  }
  30% {
    -webkit-transform: translate(1px, 2px) rotate(108deg);
            transform: translate(1px, 2px) rotate(108deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(144deg);
            transform: translate(1px, -1px) rotate(144deg);
  }
  50% {
    -webkit-transform: translate(-1px, 3px) rotate(180deg);
            transform: translate(-1px, 3px) rotate(180deg);
  }
  60% {
    -webkit-transform: translate(-1px, 1px) rotate(216deg);
            transform: translate(-1px, 1px) rotate(216deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(252deg);
            transform: translate(3px, 1px) rotate(252deg);
  }
  80% {
    -webkit-transform: translate(-2px, -1px) rotate(288deg);
            transform: translate(-2px, -1px) rotate(288deg);
  }
  90% {
    -webkit-transform: translate(2px, 1px) rotate(324deg);
            transform: translate(2px, 1px) rotate(324deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(360deg);
            transform: translate(1px, -2px) rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
            transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -3px) rotate(36deg);
            transform: translate(-1px, -3px) rotate(36deg);
  }
  20% {
    -webkit-transform: translate(-2px, 0px) rotate(72deg);
            transform: translate(-2px, 0px) rotate(72deg);
  }
  30% {
    -webkit-transform: translate(1px, 2px) rotate(108deg);
            transform: translate(1px, 2px) rotate(108deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(144deg);
            transform: translate(1px, -1px) rotate(144deg);
  }
  50% {
    -webkit-transform: translate(-1px, 3px) rotate(180deg);
            transform: translate(-1px, 3px) rotate(180deg);
  }
  60% {
    -webkit-transform: translate(-1px, 1px) rotate(216deg);
            transform: translate(-1px, 1px) rotate(216deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(252deg);
            transform: translate(3px, 1px) rotate(252deg);
  }
  80% {
    -webkit-transform: translate(-2px, -1px) rotate(288deg);
            transform: translate(-2px, -1px) rotate(288deg);
  }
  90% {
    -webkit-transform: translate(2px, 1px) rotate(324deg);
            transform: translate(2px, 1px) rotate(324deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(360deg);
            transform: translate(1px, -2px) rotate(360deg);
  }
}

@-webkit-keyframes speed {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
            transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -3px) rotate(-1deg);
            transform: translate(-1px, -3px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-2px, 0px) rotate(1deg);
            transform: translate(-2px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 3px) rotate(-1deg);
            transform: translate(-1px, 3px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-1px, 1px) rotate(0deg);
            transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-2px, -1px) rotate(1deg);
            transform: translate(-2px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
            transform: translate(2px, 1px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes speed {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
            transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -3px) rotate(-1deg);
            transform: translate(-1px, -3px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-2px, 0px) rotate(1deg);
            transform: translate(-2px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 3px) rotate(-1deg);
            transform: translate(-1px, 3px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-1px, 1px) rotate(0deg);
            transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-2px, -1px) rotate(1deg);
            transform: translate(-2px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
            transform: translate(2px, 1px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@-webkit-keyframes strikes {
  from {
    left: 25px;
  }
  to {
    left: -80px;
    opacity: 0;
  }
}
@keyframes strikes {
  from {
    left: 25px;
  }
  to {
    left: -80px;
    opacity: 0;
  }
}

@-webkit-keyframes dots {
  from {
    width: 0px;
  }
  to {
    width: 15px;
  }
}
@keyframes dots {
  from {
    width: 0px;
  }
  to {
    width: 15px;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



.fadeIn, .loading-window {
  -webkit-animation: fadeIn 0.4s both;
          animation: fadeIn 0.4s both;
}

#loading {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: fadeIn .5s;
          animation: fadeIn .5s;
}

.loading-window {

  --background-color: var( --body-background-color, grey);
  --border-radius-big: 6px;
  --font-size-header: 16px;
  --car-color: var( --color-main, beige);

  color: var( --car-color );
  height: 200px;
  left: 50%;
  margin-left: -150px;
  margin-top: -100px;
  position: fixed;
  top: 50%;
  width: 300px;
  z-index: 99;
}
.loading-window .text {
  font-size: var( --font-size-header );
  position: absolute;
  width: auto;
  top: 75%;
  left: 38%;
  margin: 0 auto;
}
.loading-window .dots {
  display: inline-block;
  width: 5px;
  overflow: hidden;
  vertical-align: bottom;
  transition: 1;

  -webkit-animation: dots 1.5s linear infinite;
          animation: dots 1.5s linear infinite;
}

.car {
  position: absolute;
  width: 117px;
  height: 42px;
  left: 92px;
  top: 70px;
}
.car .strike {
  position: absolute;
  width: 11px;
  height: 1px;
  background: var( --car-color );

  -webkit-animation: strikes 0.2s linear infinite;
          animation: strikes 0.2s linear infinite;
}
.car .strike2 {
  top: 11px;
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}
.car .strike3 {
  top: 22px;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.car .strike4 {
  top: 33px;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.car .strike5 {
  top: 44px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.car-detail {
  position: absolute;
  display: block;
  background: var( --car-color );
  -webkit-animation: speed 0.5s linear infinite;
          animation: speed 0.5s linear infinite;
}
.car-detail.spoiler {
  width: 0;
  height: 0;
  top: 7px;
  background: none;
  border: 20px solid transparent;
  border-bottom: 8px solid var( --car-color );
  border-left: 20px solid var( --car-color );
}
.car-detail.back {
  height: 20px;
  width: 92px;
  top: 15px;
  left: 0px;
}
.car-detail.center {
  height: 35px;
  width: 75px;
  left: 12px;
  border-top-left-radius: 30px;
  border-top-right-radius: 45px 40px;
  border: 4px solid var( --car-color );
  background: none;
  box-sizing: border-box;
}
.car-detail.center1 {
  height: 35px;
  width: 35px;
  left: 12px;
  border-top-left-radius: 30px;
}
.car-detail.front {
  height: 20px;
  width: 50px;
  top: 15px;
  left: 67px;
  border-top-right-radius: 50px 40px;
  border-bottom-right-radius: 10px;
}
.car-detail.wheel {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: 20px;
  left: 12px;
  border: 3px solid var( --background-color );
  background: linear-gradient(45deg, transparent 45%, var( --car-color ) 46%, var( --car-color ) 54%, transparent 55%), linear-gradient(-45deg, transparent 45%, var( --car-color ) 46%, var( --car-color ) 54%, transparent 55%), linear-gradient(90deg, transparent 45%, var( --car-color ) 46%, var( --car-color ) 54%, transparent 55%), linear-gradient(0deg, transparent 45%, var( --car-color ) 46%, var( --car-color ) 54%, transparent 55%), radial-gradient(var( --car-color ) 29%, transparent 30%, transparent 50%, var( --car-color ) 51%), var( --background-color );
  -webkit-animation-name: spin;
          animation-name: spin;
}
.car-detail.wheel2 {
  left: 82px;
}



/* spinner */
.spinner ~ * {
  visibility: hidden;
}
.spinner {
  --spinner-color: var(--color-highlight);
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation: fadeIn 3s;
}
.spinner .blob {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 2px solid var(--spinner-color);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.spinner .blob.top {
  top: 0;
  -webkit-animation: blob-top 1s infinite ease-in;
          animation: blob-top 1s infinite ease-in;
}
.spinner .blob.bottom {
  top: 100%;
  -webkit-animation: blob-bottom 1s infinite ease-in;
          animation: blob-bottom 1s infinite ease-in;
}
.spinner .blob.left {
  left: 0;
  -webkit-animation: blob-left 1s infinite ease-in;
          animation: blob-left 1s infinite ease-in;
}
.spinner .move-blob {
  background: var(--spinner-color);
  top: 0;
  -webkit-animation: blob-spinner-mover 1s infinite ease-in;
          animation: blob-spinner-mover 1s infinite ease-in;
}

@-webkit-keyframes blob-bottom {
  25%, 50%, 75% {
    top: 50%;
    left: 100%;
  }
  100% {
    top: 0;
    left: 50%;
  }
}

@keyframes blob-bottom {
  25%, 50%, 75% {
    top: 50%;
    left: 100%;
  }
  100% {
    top: 0;
    left: 50%;
  }
}
@-webkit-keyframes blob-left {
  25% {
    top: 50%;
    left: 0;
  }
  50%, 100% {
    top: 100%;
    left: 50%;
  }
}
@keyframes blob-left {
  25% {
    top: 50%;
    left: 0;
  }
  50%, 100% {
    top: 100%;
    left: 50%;
  }
}
@-webkit-keyframes blob-top {
  50% {
    top: 0;
    left: 50%;
  }
  75%, 100% {
    top: 50%;
    left: 0;
  }
}
@keyframes blob-top {
  50% {
    top: 0;
    left: 50%;
  }
  75%, 100% {
    top: 50%;
    left: 0;
  }
}
@-webkit-keyframes blob-spinner-mover {
  0%, 100% {
    top: 0;
    left: 50%;
  }
  25% {
    top: 50%;
    left: 100%;
  }
  50% {
    top: 100%;
    left: 50%;
  }
  75% {
    top: 50%;
    left: 0;
  }
}
@keyframes blob-spinner-mover {
  0%, 100% {
    top: 0;
    left: 50%;
  }
  25% {
    top: 50%;
    left: 100%;
  }
  50% {
    top: 100%;
    left: 50%;
  }
  75% {
    top: 50%;
    left: 0;
  }
}



