html, body {
  /* height: 100%;
  width: 100%; */
  min-height: 100vh;
  /* height: 100%; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 16px;
}

@media (min-width: 1150px) {
  html {
    font-size: 17px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 14px;
  }
}

body {
  --menu-offset: 60px;

  --color-main: #e6d6b2;
  --color-bright: #f2f1c6;
  --color-subtle: grey;
  --color-orange: #FF6138;
  --color-dark-blue: #4f7b86;
  --color-light-blue: #a5c4bc;
  
  --body-background-color: rgb(50,56,91);
  --body-background-color: rgb(44,49,53);
  --body-background-color: #252627;

  --body-background: linear-gradient(135deg, var(--body-background-color) 50%,rgba(50,56,91,1) 100%);
  --body-background: linear-gradient(135deg, var(--body-background-color) 20%,rgba(2,2,4,1) 100%);
  --body-background: var(--body-background-color);
  


  margin: 0;
  color: var(--color-bright);
  font-family: 'Saira', Helvetica, Courier, sans-serif;


  background: var(--body-background);
  background-size: cover;
  background-position: center;
  position: relative;
}


.c-orange {
  color: var(--color-orange);
}

.c-bright {
  color: var(--color-bright);
}

.c-subtle {
  color: var(--color-subtle);
}

.subtle {
  font-size: 1rem;
  color: var(--color-subtle);
  font-family: 'Inconsolata', monospace;
  font-weight: 100;
  margin: 0;
  letter-spacing: -1px;
}


.hide {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}


.font-bigger1 { font-size: 1.15em; }
.font-bigger2 { font-size: 1.3em; }
.font-bigger3 { font-size: 1.45em; }



/* menu */
#menu {
  background: #181818; /* #2f2f2f */
  color: var(--color-subtle);
  width: var(--menu-offset);
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  /* min-height: 500px; */

  display: flex;
  justify-content: center;
  align-items: center;
}

#nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; /* center */


  text-align: center;
  /* position: absolute; */
  height: 210px;
  /* top: 50%; */
  /* margin-top: -120px; */
  width: 100%;

  font-family: 'Inconsolata', monospace;
}


#nav a {
  color: inherit;
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-size: 22px;
  height: 51px;
  line-height: 51px;
  width: 100%;
}

#nav a.active {
  color: var(--color-orange, orange);
}

.icon-to-text-on-hover {
  position: relative;
}
.icon-to-text-on-hover i::after {
  content: '';
  font-size: 0.7rem;
  letter-spacing: 1px;
  position: absolute;
  display: block;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  opacity: 0;
  color: var(--color-orange);
  text-transform: uppercase;
  font-family: 'Inconsolata', monospace;
  font-weight: 100;
}
.icon-to-text-on-hover:hover i::before {
  opacity: 0;
}
.icon-to-text-on-hover:hover i::after {
  opacity: 1;
}

.icon-to-text-on-hover i::before,
.icon-to-text-on-hover i::after
{
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}


#nav i.fa-home::after { content: 'home'; }
#nav i.fa-user-circle::after { content: 'about'; }
#nav i.fa-cog::after { content: 'skills'; }
#nav i.fa-laptop-code::after { content: 'projects'; }
#nav i.fa-laptop-code { font-size: 20px; }
#nav i.fa-envelope::after { content: 'contact'; }


#content {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
  padding-left: var(--menu-offset);

  /* min-height: 600px; */
  /* min-height: calc( 100vh - var(--content-padding) * 2 ); */
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.overflow-hidden {
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@media (max-width: 960px) {
  #menu {
      width: 100%;
      height: var(--menu-offset);
      min-height: 0;
      bottom: 0;
      top: auto;
  }
  #nav {
    flex-direction: row;
    min-width: 250px;
    width: 42%;
    /* left: 50%; */
    /* margin-left: -19%; */
    /* float: left; */
    overflow: hidden;
    text-align: center;
    height: 60px;
    /* top: 0; */
    /* margin-top: 0; */
  }

  #content
  /* ,#particles  */
  {
    padding-left: 0;
    padding-bottom: var(--menu-offset);
  }
}

a {
  text-decoration: none;
  color: var(--color-orange);
}

/* a:hover {
  color: var(--color-bright);
} */

.hover-underline {
  display: inline-block;
  position: relative;
}
.hover-underline::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  height: 1px;
  width: 0;
  background: currentColor;
  transition: width .5s;
}
.hover-underline:hover::after {
  width: 100%;
}

.btn {
  --mouse-pos-x: 0px;
  --mouse-pos-y: 0px;
  --btn-color: var(--color-orange);

  text-decoration: none;
  color: var(--btn-color);
  background: transparent;
  font-weight: 100;

  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid var(--btn-color);
  
  font-family: 'Saira', Helvetica, Arial, sans-serif; 
  font-size: 1.5rem;

  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.btn-bright {
  --btn-color: var(--color-bright);
}

.btn:hover {
  color: var(--body-background-color);
  font-weight: 900;
  background: orange;
  background: radial-gradient(circle at var(--mouse-pos-x) var(--mouse-pos-y), var(--btn-color) 50%,rgba(0,0,0,0) 100%);
}


.pointer {
  cursor: pointer;
}

.border-round {
  border-radius: 50%;
}



.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.flex-1 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.padding-15 {
  padding: 15px;
}

/* .preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
} */

.h1-tags,
.body-tags,
.div-tags,
.div-tags-end
{
  position: relative;
}

.content .div-tags-end {
  padding-bottom: 25px;
}

.body-tags {
  padding: 45px 0;
}

.h1-tags::after,
.h1-tags::before,
.body-tags::after,
.body-tags::before,
.div-tags::after,
.div-tags::before,
.div-tags-end::after
{
  color: var(--color-subtle);
  position: absolute;
  left: 0;
  font-family: 'League Script', 'Courier New', 'Inconsolata', cursive;
  font-weight: 900;
  font-size: .8rem;
  text-transform: none;
}

.body-tags::before {
  content: '<body>';
  top: 20px;
}
.body-tags::after {
  content: '</body>';
  bottom: 20px;
}
.body-tags::before,
.body-tags::after
{
  left: 2%;
}


.h1-tags::before {
  content: "<h1>";
  bottom: 100%;
}
.h1-tags::after {
  content: "</h1>";
  top: calc( 100% + .4rem);
}

.div-tags::before {
  content: '<div>';
  /* bottom: 100%; */
  top: 0;
}
.div-tags::after,
.div-tags-end::after {
  content: '</div>';
  /* top: calc( 100% + .5rem ); */
  bottom: 0px;
}

/* .h1-tags::before,
.div-tags::before {
  top: 2px;
}
.h1-tags::after,
.div-tags::after {
  bottom: 2px;
} */

/* .content .div-tags::before {
  content: '<div class="content">'
}
.art .div-tags::before {
  content: '<div class="art">'
} */


#particles {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  /* padding-left: var(--menu-offset); */
  z-index: -10;
  position: fixed;
  overflow: hidden;
}

/* #content {
  pointer-events: none;
}

#content button, 
#content a,
#particles .buttons
{
  pointer-events: auto;
} */

/* #menu {
  z-index: 2;
} */

#particles-buttons {
  position: absolute;
  right: 5px;
  pointer-events: auto;
  z-index: 5;
}

#particles-buttons button.active {
  background: var(--color-orange);
}




