html, body {
  /* height: 100%;
  width: 100%; */
  min-height: 100vh;
  /* height: 100%; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@media (min-width: 1150px) {
  html {
    font-size: 18px;
  }
}

body {
  --menu-offset: 60px;

  --color-main: #e6d6b2;
  --color-bright: #f2f1c6;
  --color-subtle: grey;
  --color-orange: #FF6138;
  --color-dark-blue: #4f7b86;
  --color-light-blue: #a5c4bc;
  
  --body-background-color: rgb(50,56,91);
  --body-background-color: rgb(44,49,53);
  --body-background: linear-gradient(135deg, var(--body-background-color) 50%,rgba(50,56,91,1) 100%);
  --body-background: linear-gradient(135deg, var(--body-background-color) 20%,rgba(2,2,4,1) 100%);
  --body-background: #252627;
  


  margin: 0;
  color: var(--color-bright);
  font-family: 'Saira', Helvetica, Courier, sans-serif;


  background: var(--body-background);
  background-size: cover;
  background-position: center;
  position: relative;
}


.c-orange {
  color: var(--color-orange);
}

.c-bright {
  color: var(--color-bright);
}

.c-subtle {
  color: var(--color-subtle);
}

.subtle {
  font-size: 1rem;
  color: var(--color-subtle);
  font-family: 'Inconsolata', monospace;
  font-weight: 100;
  margin: 0;
  letter-spacing: -1px;
}


.hide {
  display: none !important;
}




.font-bigger1 { font-size: 1.2em; }
.font-bigger2 { font-size: 1.4em; }
.font-bigger3 { font-size: 1.6em; }



/* menu */
#menu {
  background: #181818; /* #2f2f2f */
  color: var(--color-subtle);
  width: var(--menu-offset);
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  /* min-height: 500px; */
}

#nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; /* center */


  text-align: center;
  position: absolute;
  height: 210px;
  top: 50%;
  margin-top: -120px;
  width: 100%;

  font-family: 'Inconsolata', monospace;
}


#nav a {
  color: inherit;
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-size: 22px;
  height: 51px;
  line-height: 51px;
  width: 100%;
}

#nav a.active {
  color: var(--color-orange, orange);
}

/* icon text on hover */
.icon-explanation-on-hover {
  position: relative;
}
.icon-explanation-on-hover::after {
  content: '';
  font-size: 0.7rem;
  letter-spacing: 1px;
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  color: var(--color-orange);
}
.icon-explanation-on-hover:hover i {
  opacity: 0;
}
.icon-explanation-on-hover:hover::after {
  opacity: 1;
}

/* #nav a::after {
  content: '';
  font-size: 0.7rem;
  letter-spacing: 1px;
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  color: var(--color-orange);
}

#nav a:hover i {
  opacity: 0;
}

#nav a:hover::after {
  opacity: 1;
} */

i {
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

#nav a:first-child::after { content: 'HOME'; }
#nav a:first-child+a::after { content: 'ABOUT'; }
#nav a:first-child+a+a::after { content: 'SKILLS'; }
#nav a:first-child+a+a+a { font-size: 20px; }
#nav a:first-child+a+a+a::after { content: 'PROJECTS'; }
#nav a:first-child+a+a+a+a::after { content: 'CONTACT'; }


#content {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
  padding-left: var(--menu-offset);

  /* min-height: 600px; */
  /* min-height: calc( 100vh - var(--content-padding) * 2 ); */
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.overflow-hidden {
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@media (max-width: 960px) {
  #menu {
      width: 100%;
      height: var(--menu-offset);
      left: 0;
      min-height: 0;
  }
  #nav {
    flex-direction: row;
    width: 42%;
    left: 50%;
    margin-left: -19%;
    float: left;
    overflow: hidden;
    text-align: center;
    height: 60px;
    top: 0;
    margin-top: 0;
  }

  #content
  /* ,#particles  */
  {
    padding-left: 0;
    padding-top: var(--menu-offset);
  }
}

a {
  text-decoration: none;
  color: var(--color-orange);
}

/* a:hover {
  color: var(--color-bright);
} */

.hover-underline {
  display: inline-block;
  position: relative;
}
.hover-underline::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  height: 1px;
  width: 0;
  background: currentColor;
  transition: width .5s;
}
.hover-underline:hover::after {
  width: 100%;
}

.btn {
  --mouse-pos-x: 0px;
  --mouse-pos-y: 0px;
  --btn-color: var(--color-orange);

  text-decoration: none;
  color: var(--btn-color);
  background: transparent;
  font-weight: 100;

  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid var(--btn-color);
  
  font-family: 'Saira', Helvetica, Arial, sans-serif; 
  font-size: 1.5rem;

  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.pointer {
  cursor: pointer;
}

.border-round {
  border-radius: 50%;
}

.btn:hover {
  color: var(--body-background-color);
  font-weight: 900;
  background: orange;
  background: radial-gradient(circle at var(--mouse-pos-x) var(--mouse-pos-y), var(--btn-color) 50%,rgba(0,0,0,0) 100%);
}

.btn-bright {
  --btn-color: var(--color-bright);
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.flex-1 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.padding-15 {
  padding: 15px;
}

/* .preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
} */

.h1-tags,
.body-tags,
.div-tags,
.div-tags-end
{
  position: relative;
}

.content .div-tags-end {
  padding-bottom: 25px;
}

.body-tags {
  padding: 45px 0;
}

.h1-tags::after,
.h1-tags::before,
.body-tags::after,
.body-tags::before,
.div-tags::after,
.div-tags::before,
.div-tags-end::after
{
  color: var(--color-subtle);
  position: absolute;
  left: 0;
  font-family: 'League Script', 'Courier New', 'Inconsolata', cursive;
  font-weight: 900;
  font-size: .8rem;
  text-transform: none;
}

.body-tags::before {
  content: '<body>';
  top: 20px;
}
.body-tags::after {
  content: '</body>';
  bottom: 20px;
}
.body-tags::before,
.body-tags::after
{
  left: 2%;
}


.h1-tags::before {
  content: "<h1>";
  bottom: 100%;
}
.h1-tags::after {
  content: "</h1>";
  top: calc( 100% + .4rem);
}

.div-tags::before {
  content: '<div>';
  /* bottom: 100%; */
  top: 0;
}
.div-tags::after,
.div-tags-end::after {
  content: '</div>';
  /* top: calc( 100% + .5rem ); */
  bottom: 0px;
}

/* .h1-tags::before,
.div-tags::before {
  top: 2px;
}
.h1-tags::after,
.div-tags::after {
  bottom: 2px;
} */

/* .content .div-tags::before {
  content: '<div class="content">'
}
.art .div-tags::before {
  content: '<div class="art">'
} */


/* html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none} */

/* html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


canvas{
  display:block;
  vertical-align:bottom;
} */

#particles {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  /* padding-left: var(--menu-offset); */
  z-index: -10;
  position: absolute;
  overflow: hidden;
}

/* #content {
  pointer-events: none;
}

#content button, 
#content a,
#particles .buttons
{
  pointer-events: auto;
} */

/* #menu {
  z-index: 2;
} */

#particles-buttons {
  position: absolute;
  right: 5px;
  pointer-events: auto;
  z-index: 5;
}

#particles-buttons button.active {
  background: var(--color-orange);
}




