#projects {
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#projects .row {
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.project {
  --project-color: var(--color-orange);
  position: relative;
  width: 14rem;
  height: 19rem;
  margin: 20px;
  background: var(--body-background);
}

.project .shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 5px 55px black;
  z-index: -1;
}

.project .project-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid var(--color-orange);
  position: relative;
}

.project p {
  font-size: .8rem;
}

.project h1 {
  text-align: center;
}

/* .project .container-open a:hover, */
.project button.toggle:hover 
{
  color: var(--color-bright) ;
}

.project svg {
  display: block;
  width: 100%;
  height: 100%;
}
.project svg .border {
  fill: var(--project-color);
}

.project .highlight {
  font-weight: 900;
  text-decoration: underline;
}



/* BUTTONS CLOSE / OPEN */
.project button.toggle
{
  background: transparent;
  border: none;
  position: absolute;
  font-size: .8rem;
  font-family: 'Saira', Courier, monospace;
  cursor: pointer;
  color: black;
  bottom: 0px;
  right: 0px;
  color: black;
  z-index: 2;
  padding: 5px 10px;
  transition: color .2s;
}


.project button.toggle .close {
  display: none;
}
.project.active button.toggle .close {
  display: inline;
}
.project.active button.toggle .open {
  display: none;
}

.project button:focus {
  outline: none;
}

.project button.toggle i 
{
  position: relative;
  top: 2px;
}

.project button i {
  transition: all 0s linear;
}
/* *** */



/* CONTAINERS */
/* closed */
.project .container-closed {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 15px;
  box-sizing: border-box;
  z-index: 1;

  transition: transform .6s, opacity .6s, -webkit-transform .6s;
  transition-delay: .3s;
}

.project.active .container-closed {
  transform: translateY(-50%);
  opacity: 0;
  z-index: -1;
  transition: opacity .3s, transform 0s .6s;
}
/* *** */


/* open */
.project  .container-open {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  padding: 10px;

  position: absolute;
  top: 0;
  left: 0;
}
.project .container-open {
  -webkit-transform: translateX(50%);
  transform: translateX(50%);

  opacity: 0;
  color: black;

  transition: transform .5s, opacity .2s, -webkit-transform .5s;
}

.project .container-open p:first-child {
  margin-top: 0;
}

.project.active .container-open {
  z-index: 1;

  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;

  transition: transform .5s, opacity .5s, -webkit-transform .5s;

  transition-delay: .2s;
}

.project .container-open a {
  color: black;
}

.project .links {
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
}
/* *** */


/* ICONS */
.project i.fa-running {
  position: relative;
  top: 2px;
}

.project .icon-to-text-on-hover i::after {
  color: black;
  font-weight: 900;
}

.project .icon-to-text-on-hover i.fa-youtube::after {
  content: 'demo';
}
.project .icon-to-text-on-hover i.fa-github::after {
  content: 'code';
}
.project .icon-to-text-on-hover i.fa-globe::after {
  content: 'website';
}
/* *** */


.project ul {
  padding-left: 15px;
  font-size: .8rem;
  line-height: 1.3rem;

  /* list-style-position: inside;
  padding-left: 0px; */
}
