#projects {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.project {
  --project-color: var(--color-orange);
  position: relative;
  width: 220px;
  height: 300px;
  transition: box-shadow 1s;

  border-radius: 5px;
  overflow: hidden;

  border: 1px solid var(--color-orange);
  /* box-shadow: 0 0px 55px var(--project-color); */
  box-shadow: 0 0px 55px black;

  /* animation-name: shadow;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; */
}

.project p {
  font-size: .8rem;
}

.project h1 {
  text-align: center;
}




/* BUTTONS CLOSE / OPEN */
.project button.open
,.project button.close 
{
  background: transparent;
  border: none;
  position: absolute;
  font-size: .8rem;
  font-family: 'Saira', Courier, monospace;
  cursor: pointer;
}

.project button.open {
  bottom: 30px;
  right: 10px;
  color: var(--color-orange);
}

.project button:focus {
  outline: none;
}


/* .project button.open {
  --btn-color: var(--color-bright);
  font-size: .8rem;
} */

.project button.close {
  bottom: 0;
  right: 0;
  color: black;
}

.project button.close i
,.project button.open i 
{
  position: relative;
  top: 2px;
}

.project button i {
  transition: all 0s linear;
}

/* @keyframes shadow {
  0%, 100% {
    box-shadow: 0 5px 25px var(--project-color);
  }
  50% {
    box-shadow: 0 5px 15px var(--project-color);
  }
} */

/* .project.active {
  box-shadow: 0 0 15px var(--project-color);
} */

/* .container-closed {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  opacity: 0;
}

.container-closed.active {
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: opacity .6s, -webkit-transform .6s;
  transition: transform .6s, opacity .6s;
  transition: transform .6s, opacity .6s, -webkit-transform .6s;
  opacity: 1;
} */

.project .container-closed {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  padding: 15px;
  box-sizing: border-box;
  /* top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  /* transition: transform .6s, opacity .6s, -webkit-transform .6s; */
}

.project:not(.active) .container-closed {
  opacity: 1;
  z-index: 2;
  transition: transform .6s, opacity .6s, -webkit-transform .6s;
  transition-delay: .3s;

}

.project.active .container-closed {
  /* -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%); */
  transform: translate(50%, 0);
  opacity: 0;
  transition: opacity .3s, transform 0s .6s;
}



/* .project .container-closed button.open {
  padding: 1rem 2rem;
  text-transform: uppercase;
  color: #f2f2f2;
  background: transparent;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  transition: background .4s;

 
}
.project .container-closed button.open:hover {
  background: rgba(242, 242, 242, 0.1);
} */

.project svg {
  display: block;
  width: 100%;
  height: 100%;
}
.project svg .border {
  fill: var(--project-color);
}

.project  .container-open {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  padding: 10px;

  position: absolute;
  /* top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); */

  top: 0;
  left: 0;
  /* text-align: center; */
}
.project .container-open .content {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  opacity: 0;
  color: var(--project-color);
  color: black !important;

  /* transition: opacity .6s .2s, -webkit-transform .6s .2s;
  transition: transform .6s .2s, opacity .6s .2s; */
  transition: transform .5s .2s, opacity .5s .2s, -webkit-transform .5s .2s;

  width: 100%;
  height: 100%;
}
/* .project .container-open .content button.close {
  display: inline-block;
  margin-top: 2rem;
  padding: .5rem 1rem;
  text-transform: uppercase;
  font-size: .9em;
  color: var(--project-color);
  color: black !important;

  background: transparent;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  transition: background .4s;
} */

/* .project .container-open .content button.close:hover {
  background: rgba(255, 97, 56, 0.3);
} */

.project .container-open .content p:first-child {
  margin-top: 0;
}
.project.active .container-open .content {
  z-index: 4;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.project .highlight {
  font-weight: 900;
  text-decoration: underline;
}

.project .container-open a {
  color: black;
}


.project .container-open .links {
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
}

